.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .dot1, .dot2, .dot3 {
    animation: loading-dots 1.5s infinite;
    opacity: 0;
    animation-delay: 0.1s;
    margin: 0 5px;
  }
  
  @keyframes loading-dots {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  